SECRET_KEY=django-insecure-painaima-lifestyle-instagram-vibe-super-secret-key-2026
DEBUG=True

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Neon Database (PostgreSQL)
DATABASE_URL=

# Cloudinary (Media Storage)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
